<!-- OBS hvis du vil se siden skal du skrive http://localhost:4000/portefoljestyring/kontooplysninger  -->
<!--find ud af hvorfor indsender knappen ikke virker muligvis forkert ruter -->

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kontooplysninger</title>
  <link rel="stylesheet" type="text/css" href="/kontooplyStyle.css">
</head>

<body>

  <div class="container">
    <!-- Sidebar til formular -->
    <aside class="sidebar">
      <h2>Opret konto</h2>

      <form id="konto_form">

        <label for="navn">Navn på konto:</label>
        <input type="text" id="navn" name="navn" required>

        <label for="bank">Tilknyttet Bank:</label>
        <input type="text" id="bank_ref" name="bank" required>

        <button type="button" onclick="sendkonto()">Opret konto</button>
      </form>

      <!-- Bruges til at vise alle konti der er lukkede  -->
      <button onclick="hentLukkedeKonti()">Vis lukkede konti</button>
      <div id="lukkede-konti-knap"></div>

    </aside>

    <!-- Hovedsektion til kontoliste -->
    <main class="content">
      <h1>Eksisterende Konti</h1>
      <div id="konto-container"></div>

      <section id="lukkede-konti-sektion" class="lukkede-konti-sektion" style="display: none;">
        <h2>Lukkede konti</h2>
        <div id="lukkede-konti-container"></div>
      </section>
    </main>
  </div>


  <!-- Popup til indsættelse -->
  <div id="popup">
    <h3>Indsæt penge på konto</h3>
    <label for="indsæt-værdi">Beløb:</label>
    <input type="text" id="indsæt-værdi"><br>

    <label for="valuta">Valuta:</label>
    <select id="indsæt-valuta">
      <option value="DKK">DKK</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select><br><br>

    <button onclick="indsaetData()">Indsæt</button>
    <button onclick="lukPopup()">Luk</button>
  </div>

  <div id="resultat">
    <button id="luk-resultat" class="luk-knap">Luk</button>

  </div>


  <!-- popup til at lukke konto  -->
  <div id="lukPopup">
    <h3>Er du sikker på at du vil lukke kontoen? </h3>

    <button onclick="bekraeftLukning()">Ja, jeg vil gerne lukke denne konto</button>
    <button onclick="lukPopup()">Fortryd lukning</button>
  </div>

  <% for (let i = 0; i < konti.length; i++) { %>
    <p><strong>Saldo:</strong> <%= konti[i].saldo %></p>
  <% } %>
  


  <!-- **************************** JS-SCRIPT START ********************** -->

  <script>
    // Her oprettes globale variable som kan anvendes på tværs af funktioner
    let valgtKontoId = null;        //Vi antager at der ikke er valgt en konto i starten
    let kontoIdTilSletning = null;

    // Åbn popup og husk kontoId
    function LukKonto(kontoId) {
      kontoIdTilSletning = kontoId;
      document.getElementById('lukPopup').style.display = 'block';
    }

    // Bekræft sletning
    async function bekraeftLukning() {
      const svar = await fetch(`/portefoljestyring/slet-konto/${kontoIdTilSletning}`, {
        method: 'DELETE'
      });

      const resultat = await svar.json();

      if (resultat.success) {
        alert("Konto lukket.");
        hentKonti();
      } else {
        alert("Noget gik galt.");
      }
      lukPopup(); // Skjul popup igen
    }

    // opret ny konto       
    async function sendkonto() {
      let nyKonto = {
        navn: document.getElementById("navn").value,
        bank_ref: document.getElementById("bank_ref").value
      };
      const svar = await fetch('/portefoljestyring/kontooplysninger', {
        method: 'POST',
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(nyKonto)
      });

      if (svar.ok) {
        await hentKonti();
      };
    };

    
    // hent konto og så vis den 
    async function hentKonti() {
      console.log("Henter Konti fra database");
      const response = await fetch('/portefoljestyring/hentkontooplysninger');
      const konti = await response.json();
      const container = document.getElementById("konto-container");
      container.innerHTML = ""; // Ryd gammel liste

      for (let i = 0; i < konti.length; i++) {
        const kontoElement = document.createElement("div");
        kontoElement.classList.add("konto-liste");
        kontoElement.innerHTML =
          `
          <p><strong>Navn:</strong> ${konti[i].navn}</p>
          <p><strong>Saldo:</strong> ${konti[i].saldo}</p>
          <p><strong>Tilknyttet Bank:</strong> ${konti[i].bank_ref}</p>
          <button onclick="gaaTilKonto(${konti[i].konto_id})">Se detaljer</button>
          <button onclick="aabnIndsaetPopup(${JSON.stringify(konti[i].konto_id)})">Indsæt penge</button>
          <button onclick="LukKonto(${JSON.stringify(konti[i].konto_id)})">Luk konto</button>
          <hr>
        `;
        container.appendChild(kontoElement)

      }
    }

    // Indsæt penge
    function aabnIndsaetPopup(kontoId) {
      valgtKontoId = kontoId;
      document.getElementById('popup').style.display = 'block';
    }

    // funktionen til at lukke popup
    function lukPopup() {
      // Lukker begge popups, hvis de er synlige
      document.getElementById('popup').style.display = 'none';
      document.getElementById('lukPopup').style.display = 'none';
    }


    // Send indsættelse
    async function indsaetData() {
      const data = {
        vaerdi: (document.getElementById("indsæt-værdi").value),
        valuta: document.getElementById("indsæt-valuta").value,
        konto_id: valgtKontoId
      };
      console.log(" Sender til server:", data);
      const svar = await fetch('/bruger/indsaetter', {
        method: 'POST',
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
      });
      const result = await svar.json();
      console.log(" Server svar:", result);

      // kode til at vise indsættelsen 
      if (result.success) {
        hentKonti(); // opdater listen med ny saldo
        const inds = result.indsaettelse;
        const resultatDiv = document.getElementById("resultat");
        resultatDiv.innerHTML =
          `
          <button id="luk-resultat" class="luk-knap">Luk</button>
          <h3>Indsættelse oprettet!</h3>
          <p>Beløb: ${inds.vaerdi} ${inds.valuta}</p>
          <p>Konto-ID: ${inds.konto}</p>
          <p>Dato og tid for oprettelse: ${inds.tid}</p>
          `;
        resultatDiv.style.display = "block";
        document.getElementById("luk-resultat").addEventListener("click", () => {
          resultatDiv.style.display = "none";
        });
        lukPopup();
      }
    }

    // Redirection til kontoside
    function gaaTilKonto(id) {
      window.location.href = `/konto/${id}`;
    }



    // funtionen til at åbne en lukkede konti. 

    async function hentLukkedeKonti() {
      const response = await fetch('/portefoljestyring/hent-lukkede-konti');
      const konti = await response.json();


      const container = document.getElementById("lukkede-konti-container");
      const sektion = document.getElementById("lukkede-konti-sektion"); // vi tager fat i sektions elementet fordi vi kun vil have den vist når der er lukkede konti

      container.innerHTML = "";

      // Vis sektionen, fordi der er mindst én lukket konto
      sektion.style.display = "block";
      for (let i = 0; i < konti.length; i++) {

        const lukKontoElement = document.createElement("div");
        lukKontoElement.classList.add("konto-liste");

        lukKontoElement.innerHTML =
          `
        <p><strong>Navn:</strong> ${konti[i].navn}</p>
        <p><strong>Tilknyttet Bank:</strong> ${konti[i].bank_ref}</p>
        <button onclick="genaktiverKonto(${konti[i].konto_id})">Genaktiver</button>
        <hr>
      `;
        container.appendChild(lukKontoElement)
      }
      // hvis igen konti findes 
      if (konti.length === 0) {
        container.innerHTML = "<p>Ingen lukkede konti.</p>";
        sektion.style.display = "none"; // Skjul sektionen
        return;
      }

    }

    // Bekræft genoprettelse af konto 
    async function genaktiverKonto(kontoId) {
      const lukSvar = await fetch(`/portefoljestyring/genaktiver-konto/${kontoId}`, {
        method: 'POST'
      });

      const lukkeResultater = await lukSvar.json();

      if (lukkeResultater.success) {
        alert("Konto er genaktiveret.");
        hentKonti(); // vi konto igen blandt aktive konti 
        hentLukkedeKonti() // vi opdatere listen af konti der er lukket 

      } else {
        alert("Noget gik galt.");
      }
    }

    window.hentKonti = hentKonti;

    hentKonti();
    hentLukkedeKonti();

  </script>

</body>

</html>