<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finnhub Stock Search</title>
</head>
<body>
  <h1>Stock Profile Search</h1>
  <input type="text" id="searchInput" placeholder="Enter stock symbol (e.g., AAPL)">
  <button onclick="search()">Search</button>
  <ul id="resultList"></ul>

  <script>
    async function search() {
      const symbol = document.getElementById("searchInput").value;
      console.log(symbol)
      const response = await fetch(`/aktiesoeg/getaktiekurs/${symbol}`);
      const data2 = await response.json();

      console.log("****************data2**************");
      console.log(data2["Time Series (60min)"]);
      //console.log(data2["Time Series (60min)"]["2025-04-09 16:00:00"]["1. open"]);
      
      
      
      console.log(Object.keys(data2["Time Series (60min)"])[0]);

      console.log(Object.values(data2["Time Series (60min)"])[0]["1. open"]);

    }
  </script>
</body>
</html>