<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Få fat i valuta kurser</title>
</head>
<body>
  <h1>Valuta kurs søg</h1>
  <input type="text" id="valutasoeg" placeholder="Hvilken valuta vil du søge efter (f.eks., EUR)">
  <button onclick="soeg()">Søg efter valuta kurs</button>
  <ul id="resultList"></ul>

  <script>
    async function soeg() {
      const valuta = document.getElementById("valutasoeg").value;
      console.log(valuta);
      const response = await fetch(`/valutasoeg/faaaktiekurs/${valuta}`);
      const data2 = await response.json();

      console.log("****************data2**************");
      console.log(Object.keys(data2["base_code"])[0]);

      console.log(Object.values(data2["conversion_rates"])[0]["DKK"]);
      console.log(Object.values(data2["conversion_rates"])[0]["EUR"]);
      console.log(Object.values(data2["conversion_rates"])[0]["USD"]);
    }
  </script>
</body>
</html>