<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sydnet bruger-oprettelse</title>

    <link rel="stylesheet" type="text/css" href="/style-logInd.css">

</head>
<body>
    <!-- Teksten på siden-->
    <h1>Opret en bruger</h1>
    <p>Indtast dit brugernavn og dit password herunder</p>

    <form id="Opret kode">

        <label for="Brugernavn">Indtast brugernavn(mindst 8 tegn)</label>
        <input type="text" name="Brugernavn" id="1" minlength="8" required>

        <label for="Password">Indtast Password(Skal indeholde 8 eller flere tegn)</label>
        <input type="password" name="Password" id="2" pattern=".{8,16}" required>

        <label for="Password">Repeat Password(Skal indeholde mellem 8 og 16 tegn)</label>
        <input type="password" name="Repeat Password" id="3" pattern=".{8,16}" required>

        <button type="button" id = "knap">Submit</button>
        <p id ="demo"></p>

    </form>
    <script>
        let Username = document.getElementById("1")
        let Password = document.getElementById("2")
        let RepeatPassword = document.getElementById("3")

        let element = document.getElementById("knap");
        element.addEventListener("click", myFunction);

    

        //Tjekker at password og repeat password er det samme
        function myFunction() {
            if(Password.value == RepeatPassword.value){
                //Udskriver en pop op alert
                alert("Konto er oprettet for brugeren " + Username.value);
                //Udskriver tekst på selve siden
                document.getElementById("demo").innerHTML = "Konto er oprettet for brugeren " + Username.value;
              
                window.location.href = "/bruger-sider/log-ind" // virker ikke :(( 
            } else {
                //udskriver en pop op alert
                alert("Kodeord ikke ens. Prøv igen!");
                //Udskriver tekst på selve siden
                document.getElementById("demo").innerHTML = "Kodeord ikke ens. Prøv igen!";
                //Søger for at Password-felterne bliver ryddet, hvis de er forkerte
                Password.value = "";
                RepeatPassword.value= "";
      
            };
        };
    </script>
</body>
</html>
