
<!--OBS hvis du vil se siden skal du skrive http://localhost:4000/bruger/log-ind -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style-logInd.css"> 
    
    <meta charset="UTF-8"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-ind Sydnet</title>
</head>
<body>
    <div class="logindside">
      <div class="top-text">Sydnet</div>
      <div class="under-text">Lad dine penge arbejde for dig</div> 

    
    
      <form id="logind_form">
        <div class="log-ind-formual">
            <h1>Log-ind</h1>
    
    
        <label for ="brugernavn">Bruger Navn:</label>
        <input type="text" name="brugernavn" title="Indtast din brugernavn"  id="brugernavn" required>

        <label for = "adgangskode">Agangskode:</label>
        <input type="password" name="adgangskode"  title="Indtast din adgangskode"  id="adgangskode" required autocomplete="current-password">

        <a href="/bruger/bruger-oprettelse">Opret Bruger</a>
        <a href="/bruger/nulstill">Glemt adgangskode?</a>
    
    </div>

<button type="submit"> Log-ind</button>
    </form>

 <script>
    // vi sætter en event listener op for at få fat i de oplysninger som brugen indsætter i log-indformen 
        document.getElementById("logind_form").addEventListener("submit", async function (event) {
            event.preventDefault();

            let logIndData = {
    brugernavn: document.getElementById("brugernavn").value,
    adgangskode: document.getElementById("adgangskode").value 
};

const svar = await fetch('/bruger/log-ind', {
    method: 'POST',
    headers:{"Content-Type": "application/json"},
    body: JSON.stringify(logIndData) 
        }); 

const resultat = await svar.json(); // venter på,at serveren svarer

// vi laver et if statment for at tjekke om bruger har en konto
        if(svar.status === 200){
// Hvis login er godkendt,send brugeren til forsiden (index.ejs)
            window.location.href = "/";
        }  else {
            alert(resultat.message) // Fejlmeddelse som vi skriver i vores bruger.js 
        }
    });
        // SQL databsen: vi skal på en måde opfange den logind formular som 
        // brugen skriver og sammenligne det med den konto som brugeren har oprettet
    </script>
</body>
</html>
