
<!--OBS hvis du vil se siden skal du skrive http://localhost:4000/bruger/log-ind -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style-logind.css"> 
    
    <meta charset="UTF-8"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-ind Sydnet</title>
</head>
<body>
    <div class="logindside">
      <div class="top-text">Sydnet</div>
      <div class="under-text">Lad dine penge arbejde for dig</div> 

    
    
      <form id="logind_form">
        <div class="log-ind-formual">
            <h1>Log-ind</h1>
    
    
        <label for ="brugernavn">Bruger Navn:</label>
        <input type="text" name="brugernavn" title="Indtast din brugernavn"  id="brugernavn" required>

        <label for = "adgangskode">Adgangskode:</label>
        <input type="password" name="adgangskode"  title="Indtast din adgangskode" id="adgangskode" required>

        <a href="/bruger/bruger-oprettelse">Opret Bruger</a>
        <a href="/bruger/nulstill">Glemt adgangskode?</a>
    
    </div>

<button id="logind-knap" type="submit"> Log-ind</button>
    </form>

 <script>
    // vi sætter en event listener op for at få fat i de oplysninger som brugen indsætter i log-indformen 
    document.getElementById("logind_form").addEventListener("submit", async function (event) {
        event.preventDefault();

        //Vi sætter værdierne af det brugeren har indskrevet ind i en variable(logIndData)
        let logIndData = {
            brugernavn: document.getElementById("brugernavn").value,
            adgangskode: document.getElementById("adgangskode").value
        };
        //Udskriver både brugernavn og adgangskode for at kunne følge med i terminalen
        console.log("brugernavn:  " + document.getElementById("brugernavn").value)
        console.log("adgangskode: " + document.getElementById("adgangskode").value)
        
        //Her tager vi det "bruger data" vi lige har fået, altså brugernavn og password, og siger "Send dette til vores "bruger.js" fil(aka POST)"
        //Og send info om brugernavn og adgangskode med via vores variable logIndData. Afventer svar fra "bruger.js" filen
        const svar = await fetch('/bruger/log-ind', {
            method: 'POST',
            headers:{"Content-Type": "application/json"},
            body: JSON.stringify(logIndData) 
        }); 
        
        //Her venter vi så på tilbagemelding/den givne håndtering der sker i "bruger.js" filen
        const resultat = await svar.json();

        //Hvis tilbagemeldingen var succesfuld, altså har en status 200, så vil vi gerne sende brugeren videre til vores Dashboard/forside
        if (svar.status === 200){
            window.location.href = "/";
        //Hvis ikke tilbagemeldingen var succesfuld, så udskriv en advarsel, med den givne fejl vi får grundet kriterierne givet i "bruger.js" filen
        } else {
            alert(resultat.message)
        }
    });
  </script>
</body>
</html>
