
<!--OBS hvis du vil se siden skal du skrive http://localhost:4000/bruger/log-ind -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-ind Sydnet</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Log-ind</h1>
    </div>
    
    <form id="logind_form">

        <div class="brugernavn">
        <label>Bruger Navn:</label>
        <input type="text" name="brugernavn" id="brugernavn" required>
    </div>

    <div class="adgangskode">
        <label>Agangskode:</label>
        <input type="password" name="adgangkode" id="adgangkode" required>
    </div>

    </form>

</body>
</html>
