
<!--OBS hvis du vil se siden skal du skrive http://localhost:4000/bruger/log-ind -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style-logInd.css"> 
    
    <meta charset="UTF-8"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-ind Sydnet</title>
</head>
<body>
    <div class="jumbotron">
      <div class="top-text">Sydnet</div>
      <div class="under-text">Lad dine penge arbejde for dig</div> 
    </div>
    
    <form id="logind_form">

        <div class="log-ind-formual">

            <h1>Log-ind</h1>
        <label>Bruger Navn:</label>
        <input type="text" name="brugernavn" id="brugernavn" required>

        <label>Agangskode:</label>
        <input type="password" name="adgangkode" id="adgangkode" required>

        <a href="/bruger/bruger-oprettelse">Opret Bruger</a>
        <a href="/bruger/nulstill">Glemt adgangskode?</a>
    
    </div>

<button type="submit"> Log-ind</button>
    </form>

 <script>
    // vi sætter en event listener op for at få fat i de oplysninger som brugen indsætter i log-indformen 
        document.getElementById("logind_form").addEventListener("submit", async function (event) {
            event.preventDefault();

            let logIndData = {
                brugernavn: document.getElementById("brugernavn").value,
                adgangkode: document.getElementById("adgangskode").value
            };

const svar = await fetch('/bruger/log-ind', {
    method: 'POST',
    headers:{"Content-Type": "application/json"},
    body: JSON.stringify(logIndData) 
        }); 

const resultat = await svar.json(); // venter på,at serveren svarer

// vi laver et if statment for at tjekke om bruger har en konto
        if(svar.status === 200){
// Hvis login er godkendt,send brugeren til forsiden (index.ejs)
            window.location.href = "/";
        } else if (svar.status === 401){
            alert("Fejl i enten brugernavn eller adgangskode") 
        }  else {
            alert("Der opstod en fejl,prøv igen senere")
        }
    });
        // Hvad mangler der: jeg tror vi skal lave noget await fetch som fanger det data der bliver indsat i SQL databasen
        // lav ling til skift adgangskode og opret bruger, plus når du trykker på logind skal den tage dig til mainpage 
        // kig igennem den artikel jeg har fundet om HTMl for logind side 
    </script>
</body>
</html>
