<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/kontooplyStyle.css"> 
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/Dashboard">Dashboard</a></li>
            <li><a href="/nulstill">Nulstill adgangskode</a></li>
            <li><a href="/bruger-oprettelse">Oprettelse af Bruger</a></li>
            <li><a href="/log-ind">Login</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Dashboard</h1>
        <div class="stats">
            <div>Tekst</div>
        </div>
        <!--Vi kan tilføje tabeller herunder -->
    </div>
</body>
</html>