<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href=""> 
</head>
<body>
    <div class ="container">
    <main class="content">
        <h1>Dashboard</h1>
        <div id="Dashboard"></div>
    </main>

    <aside class="sidebar" id="Dashboardsidebar">
        <ul>
            <li><a href="/bruger/logoff">Log ud</a></li>
            <li><a href="/bruger/nulstill">Nulstill adgangskode</a></li>
            <li><a href="/bruger/bruger-oprettelse">Oprettelse af Bruger</a></li>
            <li><a href="/bruger/log-ind">Log-ind</a></li>
            <li><a href="/portefoljestyring/kontooplysninger">Kontooplysninger</a></li>
        </ul>
    </aside>

    
</div>

</body>
</html>