
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


body {
  background-color: #1E1E1E;
  color: white;
  min-height: 100vh;
}

/*container der holder hele layoutet */
.container {
  display: flex;
  min-height: 100vh;
}

/* Venstre sidebar med navigation*/
.sidebar {
  width: 220px;
  background-color: #1e1e1e;
  padding: 20px;
}

.sidebar .logo {
  color: #c792ea;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  display: block;
  padding: 10px;
  background-color: #292929;
  border-radius: 8px;
  transition: 0.3s ease;
}

.sidebar a:hover {
  background-color: #5e35b1; 
}

/*(dashboard) */
.content {
  flex: 1;
  padding: 30px;
  background-color: #0d0d0d;
}

/*Øverste dem med samlet værdi, gevinst osv....*/
.top-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background-color: #272724;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
}

/* Farver til positiv og negativ profit*/
.positive {
  color: #4caf50;
  font-weight: bold;
}

.negative {
  color: #BD3A3A;
  font-weight: bold;
}

/*sektion for tabeller med aktie-data*/
.table-section {
  display: flex;
  gap: 20px;
}

.stock-table {
  flex: 1;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
}

.stock-table h3 {
  margin-bottom: 15px;
}

.stock-table table {
  width: 100%;
  border-collapse: collapse;
}

.stock-table th,
.stock-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #84837E;
}

/*Diagram-sektion med porteføljeværdi over tid*/
.chart-card {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  height: 300px;
}

